@charset "utf-8";
/* CSS Document */

/* Table of Contents
1. Body
2. Navigation
3. Inner Banner
4. Breadcrumb
5. Engage
6. Index Blocks
7. Index News
8. Index Partners
9. Index Pricing
10. About Us
11. Team
12. Our Photos
13. Blog
14. Blog Details
15. Sidebar
16. Schedule Page
17. Event Page
18. Event Detail Page
19. Classes
20. Classes Detail Page
21. Trainer
22. Trainer Detail Page
23. Testimonials/Stories
24. Prices
25. Contact
26. ToTop
27. Footer
28. Copyright
29. Buttons
30. No Gutter
31. Parallax
32. Backgrounds
33. Media Quries

*/


body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #151515;
	line-height: 24px;
	/*background-color: #f3f3f3;*/
	background: #ffffff url("../images/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
}}
/* ---------------------------------------------------------------------- TOP NAVIGATION STARTS ------------------ */

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}
.navbar-brand {
	float: left;
	font-size: 18px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}
.sticky-wrapper {
	height: 0px!important;
}
#navigation {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 999;
}
.navbar-inverse {
	background-color: #151515;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #151515;
	border-right-color: #151515;
	border-bottom-color: #151515;
	border-left-color: #151515;
}
#navigation ul.nav {
	font-size: 13px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
}
#navigation ul.nav li {
	padding: 0px;
	margin: 0px;
}
#navigation ul.nav li:first-child {
	border: none;
}
#navigation ul.nav li a {
	font-family: 'Play', sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	font-size: 14px;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 12px;
	padding-right: 12px;
	text-transform: uppercase;
	font-weight: 400;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #151515;
}
#navigation ul.nav a:hover {
	color: #00c0e2;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #00c0e2;
}
#navigation ul.nav .active a {
	color: #00c0e2;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #00c0e2;
}
#navigation ul.dropdown-menu {
	margin-top: -1px;
	padding-top:12px!important;
	padding-bottom:12px!important;
}
#navigation ul.dropdown-menu li {
	color: #000;
	border: none;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
}
#navigation ul.dropdown-menu li a {
	color: #ccc!important;
	padding-top: 2px;
	padding-bottom: 2px;
	border:none!important;
}
#navigation ul.dropdown-menu li a:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f105";
	padding-right: 6px;
}
#navigation ul.dropdown-menu li a:hover {
	color: #00c0e2!important;
	border:none!important;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #000;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: transparent;
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #00c0e2!important;
	text-decoration: none;
	background-color: transparent
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	color: #00c0e2!important;
	text-decoration: none;
	background-color: transparent;
	outline: 0
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 18px;
	margin-right: 15px;
	margin-bottom: 18px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.navbar {
	border-radius: 0px;
}
nav {
	width: 100%;
	display: inline-block;
	float: right;
}
nav.smaller {
	background-color: rgba(0, 0, 0, 1)!important;
	width: 100%;
}
nav.smaller ul.nav {
	padding-top: 25px!important;
	padding-right: 0px;
	padding-bottom: 20px!important;
	padding-left: 0px;
	margin-bottom: 20px;
}
/* ---------------------------------------------------------------------- TOP NAVIGATION ENDS ------------------ */

/* ---------------------------------------------------------------------- INNER PAGES BANNERS STARTS ------------------ */

.inner-banner {
	padding-top: 80px;
	padding-bottom: 80px;
}
.inner-banner h1 {
	font-size: 32px;
	font-weight: 800;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}
.inner-banner .box h2 {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
	line-height: normal;
	padding-top: 26px;
	padding-bottom: 26px;
}
.inner-banner .box h2 strong {
	font-weight: 800;
}
/* ---------------------------------------------------------------------- INNER PAGES BANNERS STARTS ------------------ */

.breadcrumb {
	list-style: none;
	background-color: transparent;
	border-radius: 0px;
	text-align: left;
}
ol.breadcrumb {
	padding: 0px;
	margin: 0px;
}
ol.breadcrumb li.active {
	color: #00c0e2;
}
ol.breadcrumb li a {
	color: #fff;
}
/* ---------------------------------------------------------------------------- ENGAGE STARTS ------------------ */

.engage {
	padding-top: 120px;
	padding-bottom: 60px;
}
.engage h1 {
	font-size: 18px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
}
.engage h2 {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 80px;
}
.engage h2 strong {
	font-weight: 800;
}
/* ---------------------------------------------------------------------------- ENGAGE STARTS ------------------ */

/* ---------------------------------------------------------------------------- INDEX BLOCKS ENDS ------------------ */

.index-blocks {
	padding-top: 10px;
	padding-bottom: 70px;
}
.index-blocks .box {
	padding-top: 50px!important;
	padding-bottom: 50px!important;
	padding-left: 50px!important;
	padding-right: 50px!important;
}
.index-blocks .box h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.index-blocks .box h1 i {
	font-size:30px;
	color: #00c0e2;
	padding-right: 5px;
}
.index-blocks .box .description {
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.index-blocks .box.course h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.index-blocks .box.course .description {
	font-size: 12px;
	color: #fff;
	padding-bottom: 20px;
}
.index-blocks .box.course .timmings {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}
.index-blocks .big-button {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 10px;
}
/* ---------------------------------------------------------------------------- INDEX BLOCKS ENDS ------------------ */


/* ---------------------------------------------------------------------------- INDEX NEWS STARTS ------------------ */

.index-news {
	padding-top: 60px;
	padding-bottom: 60px;
}
.index-news .block {
	padding-left: 50px;
	padding-right: 50px;
}
.index-news .block h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.index-news .block .picture {
	float: left;
}
.index-news .block .detail {
	padding-left: 110px;
}
.index-news .block .detail .description {
	font-size: 12px;
}
.index-news .block .detail .meta {
	font-size: 12px;
	padding-top: 40px;
}
.index-news .block .detail .meta i {
	padding-right: 6px;
}
.index-news .block .detail .meta .user {
	padding-right: 20px;
}
.index-news .block .detail .meta a {
	font-family: 'Play', sans-serif;
	color: #838383;
}
.news-carousel.owl-theme .owl-controls {
	margin-top: 6px!important;
}
.news-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
	position: absolute;
	z-index: 10;
	left: 94px;
	bottom: 0;
}
.news-carousel.owl-theme .owl-controls .owl-nav .owl-next {
	position: absolute;
	z-index: 10;
	left: 50px;
	bottom: 0;
}
/* ---------------------------------------------------------------------------- INDEX NEWS ENDS ------------------ */

/* ---------------------------------------------------------------------------- INDEX PARTNERS STARTS ------------------ */

.index-partners {
	padding-top: 60px;
	padding-bottom: 60px;
}
.index-partners .block {
	padding-left: 50px;
	padding-right: 50px;
}
.index-partners .block h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.index-partners .block .col-lg-4 {
	text-align: center
}
.index-partners .block img {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* ---------------------------------------------------------------------------- INDEX PARTNERS ENDS ------------------ */


/* ---------------------------------------------------------------------------- INDEX PRICING STARTS ------------------ */

.index-pricing {
	padding-top: 60px;
	padding-bottom: 60px;
}
.index-pricing .block {
	padding-left: 50px;
	padding-right: 50px;
}
.index-pricing .block h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.index-pricing .block h1 .blue {
	font-size: 18px;
	font-weight: 300;
	color: #00c0e2;
}
.index-pricing .block ul {
	padding: 0px;
	margin: 0px;
}
.index-pricing .block ul li {
	font-size: 12px;
	color: #FFF;
	list-style-type: none;
	text-transform: uppercase;
}
.index-pricing .block ul li i {
	padding-right: 4px;
	width: 24px;
	text-align: center;
}
.index-pricing .block .button {
	margin-top: 30px;
	margin-bottom: 10px;
}
.pricing-carousel.owl-theme .owl-controls {
	margin-top: 26px!important;
}
.pricing-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
	position: absolute;
	z-index: 10;
	right: 50px;
	bottom: 0;
}
.pricing-carousel.owl-theme .owl-controls .owl-nav .owl-next {
	position: absolute;
	z-index: 10;
	right: 94px;
	bottom: 0;
}
.pricing-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 18px;
	background-color: transparent;
	display: inline-block;
	cursor: pointer;
	height: 40px;
	width: 45px;
	padding-top: 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0px;
	border: 1px solid #fff;
}
.pricing-carousel.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background-color: #fff;
	color: #151515;
	text-decoration: none
}
/* ---------------------------------------------------------------------------- INDEX PRICING ENDS ------------------ */



/* ---------------------------------------------------------------------------- ABOUT US PAGE STARTS ------------------ */

.about-us {
	padding-top: 150px;
	padding-bottom: 0px;
}
.about-us .intro {
	margin-bottom: 75px;
}
.about-us .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.about-us .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.about-us .intro .description {
	padding-top: 20px;
}
.about-us .intro .description-2 {
	font-size: 12px;
	padding-top: 20px;
}
.about-us .intro h2 strong {
	font-weight: 800;
}
.about-us .testimonial {
	margin-bottom: 75px;
}
.team h1 {
	font-size: 18px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
}
.team h2 {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: normal;
	padding-top: 30px;
	padding-bottom: 30px;
}
.team h2 strong {
	font-weight: 800;
}
.team .team-carousel {
	padding-top: 50px;
	padding-bottom: 50px;
}
.team .block {
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 20px;
}
.team .block .info {
	background-color: #3d3d3d;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.team .block .info .name {
	font-size: 14px;
	color: #f3f3f3;
	font-weight: 600;
}
.team .block .info .dept {
	font-size: 11px;
	color: #00c0e2;
	font-weight: 500;
	text-transform: uppercase;
}
.team .block ul.social-icons {
	margin: 0px;
	text-align: center;
	background-color: #585858;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.team .block ul.social-icons li {
	display: inline-block;
	color: #aaaaaa;
	padding-left: 8px;
	padding-right: 8px;
}
.team .block ul.social-icons li a {
	color: #fff;
	font-size: 16px;
}
.team .block ul.social-icons li a:hover {
	color: #00c0e2;
}
.our-photos .heading-strip h1 {
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 24px;
	padding-bottom: 24px;
}
.our-photos .heading-strip .button {
	text-align: right;
	margin-top: 24px;
}
.our-photos .block .picture {
	position: relative;
	background-color: #000;
}
.our-photos .block .picture:hover img {
	opacity: 0.5;
}
.our-photos .block .picture:hover .portfolio-overlay {
	opacity: 1;
}
.portfolio-overlay {
	-webkit-backface-visibility: hidden;
	display: block;
	position: absolute!important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.portfolio-overlay .icons>:first-child {
	display: table-cell;
	vertical-align: middle!important;
	text-align: center!important;
}
.portfolio-overlay .icons>:first-child .icon {
	display: inline-block!important;
	color: #fff;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: 4px;
	text-align: center;
	-webkit-transition: all .1s ease-in-out 0s;
	-moz-transition: all .1s ease-in-out 0s;
	-ms-transition: all .1s ease-in-out 0s;
	-o-transition: all .1s ease-in-out 0s;
	transition: all .1s ease-in-out 0s;
	border: 1px solid #FFF;
}
.portfolio-overlay .icons>:first-child .icon a {
	font-size: 16px;
	line-height: normal;
	color: #fff;
}
/* ---------------------------------------------------------------------------- ABOUT US PAGE ENDS ------------------ */

/* ---------------------------------------------------------------------------- BLOG PAGE STARTS ------------------ */

.blog {
	padding-top: 150px;
	padding-bottom: 120px;
}
.blog .post {
	background-color: #ececec;
}
.blog .post .picture {
	position: relative;
}
.blog .post .picture .date {
	position: absolute;
	z-index: 100;
	top: 0;
	background-color: #7000A0;
	text-align: center;
	font-family: 'Play', sans-serif;
	height: 60px;
	width: 60px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 8px;
}
.blog .post:hover .date {
	background-color: #00c0e2;
}
.blog .post .picture .date.left {
	left: 0;
}
.blog .post .picture .date.right {
	right: 0;
}
.blog .post .picture .date .day {
	font-size: 21px;
	font-weight: 500;
}
.blog .post .picture .date .month {
	font-size: 13px;
	font-weight: 400;
}
.blog .post .details {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
}
.blog .post .details h1 {
	font-family: 'Play', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.blog .post .details .description {
	padding-top: 12px;
	font-size: 14px;
}
.blog .post .details .button-meta {
	margin-top: 40px;
}
.blog .post .details .button {
	float: left;
}
.blog .post .details .meta {
	font-size: 14px;
	float: right;
}
.blog .post .details .meta span {
	padding-left: 18px;
}
.blog .post .details .meta a {
	color: #151515;
}
.blog .post .details .meta a i {
	padding-right: 5px;
}
.blog .big-button {
	margin-top: 80px;
	text-align: center;
	margin-bottom: 2px;
}
/* ---------------------------------------------------------------------------- BLOG PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- BLOG DETAIL PAGE STARTS ------------------ */

.blog .post-detail {
	background-color: #fff;
}
.blog .post-detail .picture {
	position: relative;
}
.blog .post-detail .picture .date {
	position: absolute;
	z-index: 100;
	top: 0;
	background-color: #525252;
	text-align: center;
	font-family: 'Play', sans-serif;
	height: 60px;
	width: 60px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 8px;
}
.blog .post-detail:hover .date {
	background-color: #00c0e2;
}
.blog .post-detail .picture .date.left {
	left: 0;
}
.blog .post-detail .picture .date.right {
	right: 0;
}
.blog .post-detail .picture .date .day {
	font-size: 21px;
	font-weight: 500;
}
.blog .post-detail .picture .date .month {
	font-size: 13px;
	font-weight: 400;
}
.blog .post-detail .details {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
}
.blog .post-detail .details h1 {
	font-family: 'Play', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.blog .post-detail .details .description {
	padding-top: 12px;
	font-size: 14px;
	padding-bottom: 30px;
}
.blog .post-detail .details .meta {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.blog .post-detail .details .meta span {
	padding-right: 18px;
}
.blog .post-detail .details .meta a {
	color: #151515;
}
.blog .post-detail .details .meta a i {
	padding-right: 5px;
}
blockquote {
	font-size: 15px;
	border-left: none;
	background-color: #f7f7f7;
	width: 90%;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	padding: 30px;
	position: relative;
}
blockquote .quote {
	position: absolute;
	z-index: 100;
	top: -14px;
	background-image: url(../images/testimonials/quote-2.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 28px;
	width: 28px;
	right: 30px;
}
.about-autor {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	margin-bottom: 50px;
	background-color: #00c0e2;
	color: #fff;
}
.about-autor .picture {
	float: left;
}
.about-autor .information {
	padding-top: 0px;
	padding-left: 120px;
}
.about-autor .information .name {
	font-family: 'Play', sans-serif;
	font-size: 15px;
	color: #fff;
}
.about-autor .information .dept {
	font-family: 'Play', sans-serif;
	font-size: 12px;
	color: #fff;
}
.about-autor .information .description {
	font-family: 'Play', sans-serif;
	font-size: 14px;
	color: #fff;
	padding-top: 12px;
}
.blog .comments {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
}
.blog .comments h1 {
	font-size: 17px;
	color: #222222;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0px;
	margin-top: 6px;
	margin-bottom: 15px;
}
.blog .comments .line {
	background-color: #f9b701;
	height: 3px;
	width: 30px;
	margin-top: 10px;
	margin-bottom: 26px;
}
.blog .comments h1 {
	font-size: 16px;
	color: #000;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.blog .comments .media-heading {
	font-family: 'Play', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0px;
	padding-top: 0px;
}
.blog .comments .time {
	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e5e6;
}
.blog .comments .media-left {
	padding-top: 0px;
	margin-bottom: 20px;
}
.blog .comments .media-body {
	position: relative;
}
.blog .comments .media-body p {
	font-size: 13px;
	line-height: 24px;
	color: #666666;
	padding-top: 6px;
}
.blog .comments .media-body a.reply {
	font-family: 'Play', sans-serif;
	color: #f9b701;
	font-size: 14px;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	color: #fff;
	background-color: #00c0e2;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #00c0e2;
	padding-left: 12px;
	padding-right: 12px;
}
.blog .comments .media-body a.reply:hover {
	font-size: 14px;
	color: #00c0e2;
	border: 1px solid #00c0e2;
	background-color: #fff;
	text-decoration: none;
}
.blog .comments .media-body .media {
	margin-top: 40px;
}
.blog .comments .media-list li.media {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.blog .leave-a-comment {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	background-color: #585858;
}
.blog .leave-a-comment h1 {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
}
.blog .leave-a-comment form .form-control {
	font-family: 'Play', sans-serif;
	display: block;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.42857;
	color: #666666;
	background-color: #FFF;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border: 1px solid #FFF;
}
.blog .leave-a-comment form .btn-default {
	color: #fff;
	background-color: #00c0e2;
	border: 2px solid #00c0e2;
}
.blog .leave-a-comment form .btn {
	display: inline-block;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 2px solid #00c0e2;
	border-radius: 0px;
}
.blog .leave-a-comment form .btn-default:hover {
	color: #00c0e2;
	background-color: transparent;
	border: 2px solid #00c0e2;
}
/* ---------------------------------------------------------------------------- BLOG DETAIL PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- SIDEBAR STARTS ------------------ */

.sidebar {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.sidebar .searchform3 {
	width: 90%;
	height: 24px;
	line-height: 24px;
	cursor: default;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}
.sidebar #search3 {
	display: block;
	position: relative;
}
.sidebar #s3 {
	width: 100%;
	padding: 8px 11px;
	font-size: 15px;
	color: #333333;
	border-bottom-width: 1;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
	border-top-style: none!important;
	border-right-style: none!important;
	border-left-style: none!important;
	font-style: italic;
}
.sidebar .sbtn3 {
	display: block;
	position: absolute;
	right: 5px;
	top: 8px;
	background: none;
	border: none;
	color: #333333;
	font-size: 14px;
	cursor: pointer;
}
.sidebar h1 {
	background-color: #585858;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 16px;
	padding-right: 20px;
	padding-bottom: 16px;
	padding-left: 20px;
}
.sidebar .categories {
}
.sidebar .categories ul {
	margin: 0px;
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
}
.sidebar .categories ul li {
	list-style-type: none;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 4px;
	padding-bottom: 4px;
}
.sidebar .categories ul li a {
	font-weight: 600;
	color: #131313;
}
.sidebar .categories ul li a:hover {
	color: #00c0e2;
	text-decoration: none;
}
.sidebar .categories ul li a:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0da";
	padding-right: 12px;
}
.sidebar .latest-news ul {
	margin: 0px;
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
}
.sidebar .latest-news ul li {
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}
.sidebar .latest-news ul li:last-child {
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}
.sidebar .latest-news ul li .picture {
	float: left;
}
.sidebar .latest-news ul li .info {
	padding-left: 90px;
}
.sidebar .latest-news ul li .info .caption {
	font-size: 14px;
	color: #666;
	text-align: left;
}
.sidebar .latest-news ul li .info .caption a {
	font-size: 14px;
	color: #666;
	text-align: left;
}
.sidebar .latest-news ul li .info .comment {
	font-size: 12px;
	text-align: left;
}
.sidebar .latest-news ul li .info .comment i {
	color: #00c0e2;
}
.sidebar .video-carousel {
	margin: 0px;
	padding-top: 30px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-left: 24px;
}
iframe {
	border: none;
	width: 100%;
}
.sidebar .text-widget .contents {
	font-size: 13px;
	margin: 0px;
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 30px;
	padding-left: 24px;
}
/* ---------------------------------------------------------------------------- SIDEBAR ENDS ------------------ */



/* ---------------------------------------------------------------------------- SCHEDULE PAGE STARTS ------------------ */

.schedule {
	padding-top: 150px;
	padding-bottom: 0px;
}
.schedule .intro {
	margin-bottom: 75px;
}
.schedule .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.schedule .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.schedule .intro .description {
	padding-top: 20px;
}
.schedule .intro .picture {
	position: relative;
	background-color: #000;
}
.schedule .intro .picture img {
	opacity: 0.6;
}
.schedule .intro .picture .portfolio-overlay {
	opacity: 1;
}
.schedule .intro .description-2 {
	font-size: 12px;
	padding-top: 20px;
}
.schedule .intro h2 strong {
	font-weight: 800;
}
.schedule .schedule-table {
	margin-bottom: 70px;
}
.schedule .schedule-table .table>thead>tr>th {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #00c0e2;
	text-transform: uppercase;
}
.schedule .schedule-table .table>thead>tr>th:first-child {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #3d3d3d;
	text-transform: uppercase;
}
.schedule .schedule-table .table>tbody>tr>td {
	font-size: 14px;
	font-weight: 400;
	color: #3d3d3d;
	text-transform: uppercase;
}
.schedule .schedule-table .table>tbody>tr>td a {
	color: #3d3d3d;
}
.schedule .schedule-table .table>tbody>tr>th a {
	color: #fff;
}
.schedule .schedule-table .table>tbody>tr>td:nth-child(odd) {
	background: #e6e6e6;
}
/*  Define the background color for all the EVEN table columns  */
.schedule .schedule-table .table>tbody>tr>td:nth-child(even) {
	background: #d2d2d2;
}
.schedule .schedule-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	font-family: 'Play', sans-serif;
	text-align: center;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #fff;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
.schedule .schedule-table .table>tbody>tr>th {
	color: #fff;
	background-color: #3d3d3d;
	text-transform: uppercase;
}
.schedule .schedule-table .table>tfoot>tr>th {
	color: #fff;
	background-color: #6d6d6d;
	text-transform: uppercase;
}
.schedule .schedule-table .table>tfoot>tr>th:first-child {
	color: #fff;
	background-color: #00c0e2;
	text-transform: uppercase;
}
.schedule .schedule-table .table>tfoot>tr>th a {
	color: #fff;
}
/* ---------------------------------------------------------------------------- SCHEDULE PAGE ENDS ------------------ */

/* ---------------------------------------------------------------------------- EVENTS PAGE STARTS ------------------ */

.events {
	padding-top: 150px;
	padding-bottom: 150px;
}
.events .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.events .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.events .intro .description {
	padding-top: 20px;
}
.events .intro .picture {
	position: relative;
	background-color: #000;
}
.events .intro .picture img {
	opacity: 0.6;
}
.events .intro .picture .portfolio-overlay {
	opacity: 1;
}
.events .intro .description-2 {
	font-size: 12px;
	padding-top: 20px;
}
.events .events-table {
	margin-top: 30px;
	margin-bottom: 30px;
}
.events .events-table .table>thead>tr>th {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #00c0e2;
	text-transform: uppercase;
}
.events .events-table .table>tbody>tr>td {
	font-size: 12px;
	font-weight: 400;
	color: #3d3d3d;
	text-transform: uppercase;
}
.events .events-table .table>tbody>tr>td a {
	color: #3d3d3d;
}
.events .events-table .table>tbody>tr>td:nth-child(odd) {
	background: #e6e6e6;
}
/*  Define the background color for all the EVEN table columns  */
.events .events-table .table>tbody>tr>td:nth-child(even) {
	background: #d2d2d2;
}
.events .events-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	font-family: 'Play', sans-serif;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #fff;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
.events .events-table .table>tbody>tr>th {
	color: #fff;
	background-color: #3d3d3d;
	text-transform: uppercase;
}
.events .events-table .table>tfoot>tr>th {
	color: #fff;
	background-color: #6d6d6d;
	text-transform: uppercase;
}
.events .events-table .table>tfoot>tr>th a {
	color: #fff;
}
/* ---------------------------------------------------------------------------- EVENTS PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- EVENTS DETAILS PAGE ENDS ------------------ */

.events-details {
	padding-top: 150px;
	padding-bottom: 100px;
}
.events-details .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.events-details .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.events-details .intro .description {
	padding-top: 20px;
}
.events-details .events-carousel {
	margin-top: 40px;
	margin-bottom: 40px;
}
.events-details .events-carousel .picture {
	position: relative;
}
.events-details .events-carousel .picture .price {
	font-family: 'Play', sans-serif;
	position: absolute;
	z-index: 10px;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
	color: #fff;
	text-align: center;
	background-color: #000;
	font-size: 16px;
	font-weight: 600;
	line-height: 70px;
}
.events-details .events-carousel .picture .date {
	font-family: 'Play', sans-serif;
	position: absolute;
	z-index: 10px;
	top: 0;
	right: 0;
	height: 70px;
	color: #fff;
	text-align: center;
	background-color: #00c0e2;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 16px;
}
.events-details .three-columns {
	margin-top: 50px;
	margin-bottom: 40px;
}
.events-details .three-columns .block {
	font-family: 'Play', sans-serif;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 40px;
	padding-right: 24px;
	padding-bottom: 40px;
	padding-left: 24px;
}
.events-details .three-columns .block .icon {
	font-size: 50px;
	float: left;
	padding-right: 12px;
}
.events-details .three-columns .block ul.details {
	padding: 0px;
	margin: 0px;
}
.events-details .three-columns .block ul.details li {
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	line-height: normal;
	list-style-type: none;
}
.events-details .event-info {
	margin-top: 80px;
}
.events-details .event-info h2 {
	font-family: 'Play', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.events-details .event-info ul {
	padding: 0px;
	margin: 0px;
}
.events-details .event-info ul li {
	font-family: 'Play', sans-serif;
	font-size: 14px;
	list-style-type: none;
}
.events-details .event-info ul li a {
	color: #000;
}
/* ---------------------------------------------------------------------------- EVENTS DETAILS PAGE STARTS ------------------ */



/* ---------------------------------------------------------------------------- CLASSES PAGE STARTS ------------------ */

.classes {
	padding-top: 150px;
	padding-bottom: 150px;
}
.classes .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.classes .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.classes .intro .description {
	padding-top: 20px;
}
.classes .block {
	margin-top: 50px;
	margin-bottom: 50px;
}
.classes .block .info .dept {
	font-size: 18px;
	color: #000;
	font-weight: 700;
}
.classes .block .info .name {
	font-size: 14px;
	color: #00c0e2;
	padding-left: 8px;
	font-weight: 600;
}
.classes .block .info .description {
	padding-top: 14px;
}
.classes .block .info .description a{
	color:#333;
}
.classes .block .info .button {
	padding-top: 30px;
}
.classes .block .info .button .price {
	font-family: 'Play', sans-serif;
	font-size: 17px;
	font-weight: 500;
	padding-left: 12px;
}
.classes .block .info ul.social-icons {
	padding: 0px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}
.classes .block .info ul.social-icons li {
	display: inline-block;
	list-style-type: none;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	text-align: center;
	border: 2px solid #aaaaaa;
	font-size: 16px;
	padding-top: 6px;
	margin-right: 6px;
}
.classes .block .info ul.social-icons li:hover {
	color: #00c0e2;
	border: 2px solid #00c0e2;
}
.classes .block .info ul.social-icons li:hover a {
	color: #00c0e2;
}
.classes .block .info ul.social-icons li a {
	color: #aaaaaa;
}
.classes .block .more-info {
	text-align: center;
	border: 2px solid #dbdbdb;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 42px;
}
.classes .block .more-info h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 14px;
}
.classes .block .more-info .complexity, .classes .block .more-info .persons, .classes .block .more-info .occupation {
	padding-bottom: 10px;
}
.classes .block .more-info .complexity ul.stars {
	padding: 0px;
	margin: 0px;
}
.classes .block .more-info .complexity ul.stars li {
	display: inline-block;
	margin-right: 3px;
	list-style-type: none;
	color: #00c0e2;
	font-size: 26px;
}
.classes .block .more-info .persons .number {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: #00c0e2;
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
}
.classes .block .more-info .occupation .duration span {
	font-family: 'Play', sans-serif;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
}
.classes .big-button {
	text-align: center;
	margin-top: 50px;
}
/* ---------------------------------------------------------------------------- CLASSES PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- CLASSES DETAILS PAGE ENDS ------------------ */

.classes-details {
	padding-top: 120px;
	padding-bottom: 0px;
}
.classes-details .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.classes-details .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.classes-details .intro .description {
	padding-top: 20px;
}
.classes-details .classes-carousel {
	margin-top: 40px;
	margin-bottom: 40px;
}
.classes-details .three-columns {
	margin-top: 50px;
	margin-bottom: 40px;
}
.classes-details .three-columns .block {
	font-family: 'Play', sans-serif;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 40px;
	padding-right: 24px;
	padding-bottom: 40px;
	padding-left: 24px;
}
.classes-details .three-columns .block .icon {
	font-size: 50px;
	float: left;
	padding-right: 12px;
}
.classes-details .three-columns .block ul.details {
	padding: 0px;
	margin: 0px;
}
.classes-details .three-columns .block ul.details li {
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	line-height: normal;
	list-style-type: none;
}
/* ---------------------------------------------------------------------------- CLASSES DETAILS PAGE STARTS ------------------ */


/* ---------------------------------------------------------------------------- TRAINER PAGE STARTS ------------------ */

.trainer {
	padding-top: 75px;
	padding-bottom: 75px;
}
.trainer .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.trainer .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.trainer .intro .description {
	padding-top: 20px;
}
.trainer .block {
	margin-top: 50px;
	margin-bottom: 50px;
}
.trainer .block .info .dept {
	font-size: 18px;
	color: #000;
	font-weight: 700;
}
.trainer .block .info .name {
	font-size: 14px;
	color: #00c0e2;
	padding-left: 8px;
	font-weight: 600;
}
.trainer .block .info .description {
	padding-top: 14px;
}
.trainer .block .info .description a {
	color:#333;
}
.trainer .block .info ul.awards {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.trainer .block .info ul.awards li {
	font-size: 13px;
	font-weight: 600;
	list-style-type: none;
}
.trainer .block .info ul.awards li i {
	padding-right: 8px;
}
.trainer .block .info ul.social-icons {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}
.trainer .block .info ul.social-icons li {
	display: inline-block;
	list-style-type: none;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	text-align: center;
	border: 2px solid #aaaaaa;
	font-size: 16px;
	padding-top: 6px;
	margin-right: 6px;
}
.trainer .block .info ul.social-icons li:hover {
	color: #00c0e2;
	border: 2px solid #00c0e2;
}
.trainer .block .info ul.social-icons li:hover a {
	color: #00c0e2;
}
.trainer .block .info ul.social-icons li a {
	color: #aaaaaa;
}
.trainer .block .more-info {
	border: 2px solid #dbdbdb;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 42px;
}
.trainer .block .more-info h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 14px;
	text-align: center;
}
.trainer .block .more-info ul.get-help {
	padding: 0px;
	margin: 0px;
}
.trainer .block .more-info ul.get-help li {
	font-size: 13px;
	font-weight: 600;
	list-style-type: none;
}
.trainer .block .more-info ul.get-help li i {
	padding-right: 8px;
}
.trainer .block .more-info .button {
	margin-top: 20px;
	margin-bottom: 12px;
	text-align: center;
}
.trainer .big-button {
	text-align: center;
	margin-top: 50px;
}
/* ---------------------------------------------------------------------------- TRAINER PAGE ENDS ------------------ */

/* ---------------------------------------------------------------------------- TRAINER DETAIL PAGE ENDS ------------------ */


.trainer-details {
	padding-top: 150px;
	padding-bottom: 0px;
}
.trainer-details .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.trainer-details .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.trainer-details .intro .description {
	padding-top: 20px;
}
.trainer-details .trainer-carousel {
	margin-top: 40px;
	margin-bottom: 40px;
}
.trainer-details .three-columns {
	margin-top: 50px;
	margin-bottom: 70px;
}
.trainer-details .three-columns .block {
	font-family: 'Play', sans-serif;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 40px;
	padding-right: 24px;
	padding-bottom: 40px;
	padding-left: 24px;
}
.trainer-details .three-columns .block .icon {
	font-size: 50px;
	float: left;
	padding-right: 12px;
}
.trainer-details .three-columns .block ul.details {
	padding: 0px;
	margin: 0px;
}
.trainer-details .three-columns .block ul.details li {
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	line-height: normal;
	list-style-type: none;
}
/* ---------------------------------------------------------------------------- TRAINER DETAIL PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- STORIES PAGE STARTS ------------------ */

.stories {
	padding-top: 150px;
	padding-bottom: 0px;
}
.stories .intro {
	margin-bottom: 75px;
}
.stories .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.stories .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.stories .intro .description {
	padding-top: 20px;
}
.stories .testimonial {
	margin-bottom: 0px;
}
.testimonial .heading-strip h1 {
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 24px;
	padding-bottom: 24px;
}
.testimonial .heading-strip .button {
	text-align: right;
	margin-top: 24px;
}
.testimonial .testimonial-carousel {
	padding-top: 60px;
	padding-bottom: 60px;
}
.testimonial .testimonials {
	padding-top: 50px;
	padding-bottom: 50px;
}
.testimonial .testimonials .block {
	padding-top: 35px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.testimonial .block {
	padding-top: 35px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.testimonial .description {
	font-family: 'Play', sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-align: left;
	color: #333333;
	background-color: #f3f3f3;
	position: relative;
	padding-top: 45px;
	padding-right: 35px;
	padding-bottom: 45px;
	padding-left: 35px;
	margin-bottom: 2px;
}
.testimonial .description .quote {
	position: absolute;
	z-index: 100;
	top: -31px;
	background-image: url(../images/testimonials/quote.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 62px;
	width: 62px;
	right: 0;
	background-color: #00c0e2;
}
.testimonial .description .down-arrow {
	position: absolute;
	z-index: 100;
	bottom: -24px;
	background-image: url(../images/testimonials/testimonial-down-arrow.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	text-align: center;
	right: 30px;
}
.testimonial .details .picture {
	padding-top: 42px;
	float: right;
	margin-right: 22px;
}
.testimonial .details .info {
	margin-right: 50px;
	padding-top: 14px;
	float: right;
	text-align: right;
}
.testimonial .details .info .name {
	font-size: 16px;
	text-align: right;
	font-weight: 600;
	padding-top: 26px;
	color: #fff;
}
.testimonial .details .info .company {
	font-size: 12px;
	text-align: right;
	color: #888888;
	font-weight: 500;
	line-height: normal;
}
.testimonial .details .stars {
	float: right;
	margin-top: 40px;
	color: #ffc300;
}
.testimonial .details .stars i.grey {
	color: #ececec;
}
/* ---------------------------------------------------------------------------- STORIES PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- PRICES PAGE STARTS ------------------ */

.prices {
	padding-top: 150px;
	padding-bottom: 0px;
}
.prices .intro {
	margin-bottom: 75px;
}
.prices .intro h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.prices .intro h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.prices .packages {
	margin-top: 30px;
}
.prices .packages .block {
	padding: 50px;
	text-align: center;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}
.prices .packages .block .package {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.prices .packages .block .price {
	font-family: 'Play', sans-serif;
	font-size: 30px;
	font-weight: 500;
	height: 120px;
	width: 120px;
	border-radius: 60px;
	padding-top: 38px;
	margin-left: auto;
	margin-right: auto;
	border: 6px solid #00c0e2;
	line-height: 16px;
}
.prices .packages .block .price span {
	font-family: 'Play', sans-serif;
	font-size: 12px;
	font-weight: 400;
}
.prices .packages .block .line {
	background-color: #666;
	height: 2px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.prices .packages .block ul.features {
	padding: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.prices .packages .block ul.features li {
	font-family: 'Play', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	list-style-type: none;
	font-size: 14px;
	text-transform: uppercase;
}
.prices .packages .block .button {
	margin-top: 40px;
	margin-bottom: 5px;
}
.prices .packages .block:hover {
	padding: 50px;
	text-align: center;
	background-color: #00c0e2;
	margin-top: 20px;
	margin-bottom: 20px;
}
.prices .packages .block:hover .price {
	font-family: 'Play', sans-serif;
	font-size: 30px;
	font-weight: 500;
	height: 120px;
	width: 120px;
	border-radius: 60px;
	padding-top: 38px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 6px solid #02d0f5;
	line-height: 16px;
}
.prices .packages .block:hover .line {
	background-color: #fff;
}
.prices .packages .block:hover .package {
	color: #fff;
}
.prices .packages .block:hover ul.features li {
	color: #fff;
}
.prices .packages .block:hover .button a.fill {
	text-decoration: none;
	border: 1px solid #00c0e2;
	background-color: #fff;
	color: #00c0e2;
}
/* ---------------------------------------------------------------------------- PRICES PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- CONTACTS PAGE STARTS ------------------ */

.contacts {
	padding-top: 150px;
	padding-bottom: 0px;
}
.contacts h1 {
	font-size: 21px;
	font-weight: 600;
	color: #00c0e2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.contacts h2 {
	font-size: 13px;
	font-weight: 600;
	color: #a2a2a2;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
}
.contacts .description {
	padding-top: 12px;
}
.contacts form {
	padding-top: 40px;
	padding-bottom: 70px;
}
.contacts form .form-control {
	font-family: 'Play', sans-serif;
	display: block;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.42857;
	color: #000;
	background-color: #FFF;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border: 1px solid #FFF;
}
.contacts form .btn-default {
	color: #fff;
	background-color: #00c0e2;
	border: 2px solid #00c0e2;
}
.contacts form .btn {
	display: inline-block;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 2px solid #00c0e2;
	border-radius: 0px;
}
.contacts form .btn-default:hover {
	color: #00c0e2;
	background-color: transparent;
	border: 2px solid #00c0e2;
}
.contacts .postal-address ul {
	padding: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.contacts .postal-address ul li {
	padding-bottom: 0px;
	list-style-type: none;
}
.contacts .postal-address ul li:hover .icon {
	background-color: #00c0e2;
}
.contacts .postal-address ul li a {
	color: #000;
}
.contacts .postal-address ul li a:hover {
	color: #00c0e2;
	text-decoration: none;
}
.contacts .postal-address ul li:first-child {
	padding-bottom: 20px;
	list-style-type: none;
}
.contacts .postal-address ul li:first-child .text strong {
	font-weight: 600;
	font-size: 14px;
	line-height: normal;
}
.contacts .postal-address ul li .icon {
	font-size: 14px;
	background-color: #585858;
	color: #fff;
	float: left;
	text-align: center;
	width: 38px;
	height: 32px;
	line-height: 30px;
}
.contacts .postal-address ul li .text {
	padding-left: 60px;
	font-size: 13px;
}
.contacts .postal-address ul li .text strong {
	font-weight: 600;
	font-size: 14px;
	line-height: 33px;
}
hr {
	margin-top: 50px;
	margin-bottom: 50px;
	border: 0;
	border-top: 1px solid #cbcbcb;
}
#message_post {
	text-align: center;
}
.errorMessage {
	color: #ff0000;
	margin-bottom: 4px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #fff;
}
.successMessage {
	color: #12d62d;
	margin-bottom: 4px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #fff;
}
/* ---------------------------------------------------------------------------- CONTACTS PAGE ENDS ------------------ */


/* ---------------------------------------------------------------------------- TOTOP STRIP STARTS ------------------ */

.totop-strip {
	padding-top: 20px;
	padding-bottom: 20px;
}
.scrollup {
	width: 40px!important;
	height: 40px!important;
	background-image: url(../images/icons/to-top/to-top.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid #FFF;
	cursor: pointer;
	float: right;
}
.scrollup:hover {
	opacity: 0.9;
}
/* ---------------------------------------------------------------------------- TOTOP STRIP ENDS ------------------ */


/* ---------------------------------------------------------------------------- FOOTER STARTS ------------------ */

footer {
	padding-top: 80px;
	padding-bottom: 80px;
}
footer .f-stories .block h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 8px;
}
footer .f-stories .block .picture {
	float: left;
}
footer .f-stories .block .picture .name {
	font-family: 'Play', sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #aaaaaa;
	float: left;
	padding-top: 12px;
}
footer .f-stories .block .description {
	font-size: 13px;
	color: #fff;
	padding-top: 0px;
	padding-left: 110px;
}
footer .links h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 8px;
}
footer .links ul {
	padding: 0px;
	margin: 0px;
}
footer .links ul li {
	list-style-type: none;
	padding-bottom: 4px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	color: #FFF;
}
footer .links ul li a {
	color: #FFF;
}
footer .links ul li a:hover {
	color: #00c0e2;
	text-decoration: none;
}
footer .links ul li a:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0c8";
	padding-right: 8px;
	color: #3d3d3d;
	font-size: 10px;
}
footer .links ul li a:hover:before {
	color: #00c0e2;
}
footer .links .instagram {
	font-size: 12px;
	color: #00c0e2;
}
footer .contact .block h1 {
	font-family: 'Play', sans-serif;
	font-size: 29px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 8px;
}
footer .contact .block ul {
	padding: 0px;
	margin: 0px;
}
footer .contact .block ul li {
	font-family: 'Play', sans-serif;
	font-size: 13px;
	color: #FFF;
	list-style-type: none;
	padding-bottom: 8px;
}
footer .contact .block ul li .icon {
	float: left;
}
footer .contact .block ul li .icon i {
	color: #3d3d3d;
	text-align: center;
	font-size: 16px;
	width: 20px;
}
footer .contact .block ul li .text {
	padding-left: 30px;
}
footer .contact .block ul li .text a {
	color: #fff;
}
/* ---------------------------------------------------------------------------- FOOTER ENDS ------------------ */

/* ---------------------------------------------------------------------------- COPYRIGHT STARTS ------------------ */

.copyright {
	font-family: 'Play', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #757575;
}
.copyright a {
	color: #00c0e2;
}
.copyright ul.social-icons {
	padding: 0px;
	margin: 0px;
	text-align: right;
}
.copyright ul.social-icons li {
	display: inline-block;
	color: #fff;
	padding-left: 4px;
	padding-right: 4px;
}
.copyright ul.social-icons li a {
	color: #fff;
	font-size: 14px;
}
.copyright ul.social-icons li a:hover {
	color: #00c0e2;
}
/* ---------------------------------------------------------------------------- COPYRIGHT ENDS ------------------ */

/* ---------------------------------------------------------------------------- BUTTONS STARTS ------------------ */


.button a {
	color: #151515;
	text-align: center;
	width: 100%;
	border: 1px solid #7f7f7f;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-weight:400;
	font-size: 13px;
}
.button a:hover {
	text-decoration: none;
	border: 1px solid #7f7f7f;
	background-color: #7f7f7f;
	color: #fff;
}
.button a.fill {
	color: #fff;
	text-align: center;
	width: 100%;
	border: 1px solid #00c0e2;
	background-color: #00c0e2;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-weight: bold;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.button a.fill:hover {
	text-decoration: none;
	border: 1px solid #00c0e2;
	background-color: transparent;
	color: #00c0e2;
}
.button a.white {
	color: #fff;
	text-align: center;
	width: 100%;
	border: 1px solid #fff;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	font-weight: bold;
	font-size: 13px;
}
.button a.white:hover {
	text-decoration: none;
	border: 1px solid #fff;
	background-color: #fff;
	color: #151515;
}
.big-button {
	margin-top: 10px;
	margin-bottom: 10px;
}
.big-button a.blue-fill {
	color: #fff;
	text-align: center;
	width: 100%;
	border: 1px solid #00c0e2;
	background-color: #00c0e2;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-weight: bold;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.big-button a.blue-fill:hover {
	text-decoration: none;
	border: 1px solid #00c0e2;
	background-color: transparent;
	color: #00c0e2;
}
/* ---------------------------------------------------------------------------- BUTTONS ENDS ------------------ */

/* ------------------------------------------------------ NO GUTTER STARTS ---------- */

.no-gutter-3 [class*="-3"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-4 [class*="-4"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-6 [class*="-6"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-7 [class*="-7"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-8 [class*="-8"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-9 [class*="-9"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-12 [class*="-12"] {
	padding-left: 0;
	padding-right: 0;
}
/* ------------------------------------------------------ NO GUTTER ENDS ---------- */


/* ---------------------------------------------------------------------------- PARALLAX STARTS ------------------ */

.parallax-1 {
	background-attachment: fixed;
	background-image: url(../images/parallax/1.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
.parallax-2 {
	background-attachment: fixed;
	background-image: url(../images/parallax/2.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
.parallax-3 {
	background-attachment: fixed;
	background-image: url(../images/parallax/3.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
.parallax-4 {
	background-attachment: fixed;
	background-image: url(../images/parallax/4.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
.parallax-5 {
	background-attachment: fixed;
	background-image: url(../images/parallax/5.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
.parallax-6 {
	background-attachment: fixed;
	background-image: url(../images/parallax/6.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
.parallax-7 {
	background-attachment: fixed;
	background-image: url(../images/parallax/7.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
}
/* ---------------------------------------------------------------------------- PARALLAX ENDS ------------------ */
.blue-text {
	color: #00c0e2;
}
/* ---------------------------------------------------------------------------- BACKGROUND STARTS ------------------ */

.blue-bg {
	background-color: #00c0e2;
}
.light-grey-bg {
	background-color: #ececec;
}
.medium-grey-bg {
	background-color: #1d1d1d;
}
.medium-grey-bg-2 {
	background-color: #3d3d3d;
}
.dark-grey-bg-2 {
	background-color: #333333;
}
.dark-grey-bg {
	background-color: #151515;
}

/* ---------------------------------------------------------------------------- BACKGROUND ENDS ------------------ */

/* ---------------------------------------------------------------------------- MEDIA QURIES STARTS ------------------ */

@media (min-width:992px) and (max-width:1199px) {
.index-blocks .box {
	padding-top: 20px!important;
	padding-bottom: 20px!important;
	padding-left: 30px!important;
	padding-right: 30px!important;
}
.blog .post .details .button-meta {
	margin-top: 16px;
}
.blog .post .details .meta span {
	padding-left: 0px;
	padding-right: 18px;
}
.blog .post .details .button {
	float: left;
}
.blog .post .details .meta {
	padding-bottom: 20px;
	margin-bottom: 10px;
	float: left;
}
}
@media (min-width:768px) and (max-width:991px) {
.index-blocks .box {
	padding-top: 30px!important;
	padding-bottom: 50px!important;
	padding-left: 40px!important;
	padding-right: 40px!important;
}
.news-carousel.owl-theme .owl-controls {
	margin-top: 60px!important;
}
.index-partners {
	margin-top: 2px;
	text-align: center;
}
}
@media (min-width:320px) and (max-width:767px) {
#navigation ul.nav {
	padding-top: 20px;
	padding-bottom: 20px;
}
#navigation ul.nav li a {
	font-family: 'Play', sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	font-size: 14px;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 12px;
	padding-right: 12px;
	text-transform: uppercase;
	font-weight: 400;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #151515;
}
#navigation ul.nav a:hover {
	color: #00c0e2;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #00c0e2;
}
#navigation ul.nav .active a {
	color: #00c0e2;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #00c0e2;
}
.inner-banner {
	padding-top: 60px;
	padding-bottom: 60px;
}
.inner-banner h1 {
	font-size: 32px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}
.breadcrumb {
	list-style: none;
	background-color: transparent;
	border-radius: 0px;
	text-align: center;
}
.inner-banner .box {
	margin-top: 20px;
}
.inner-banner .box h2 {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	margin: 0px;
	line-height: normal;
	padding-top: 20px;
	padding-bottom: 20px;
}
.index-blocks .box {
	padding-top: 30px!important;
	padding-bottom: 50px!important;
	padding-left: 40px!important;
	padding-right: 40px!important;
}
.navbar-nav {
	margin-left: 0px!important;
	float: none!important;
	text-align: left!important;
}
#navigation ul.nav li a {
	padding-top: 6px;
	padding-bottom: 6px;
}
.engage {
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
.index-partners {
	margin-top: 2px;
	text-align: center;
}
.index-news {
	padding-top: 30px;
	padding-bottom: 40px;
}
.index-news .block {
	padding-left: 30px;
	padding-right: 30px;
}
.index-partners {
	padding-top: 30px;
	padding-bottom: 30px;
}
.index-pricing {
	padding-top: 30px;
	padding-bottom: 30px;
}
.about-us .intro .description, .schedule .intro .description, .events .intro .description {
	padding-bottom: 40px;
}
.news-carousel.owl-theme .owl-controls {
	margin-top: 60px!important;
}
.classes .block .info {
	padding-top: 40px;
}
.trainer .block .info {
	padding-top: 40px;
}
.contacts .form {
	padding-bottom: 40px;
}
footer .links, footer .contact {
	margin-top: 50px;
}
footer .links ul.links {
	margin-bottom: 30px;
}
.copyright {
	text-align: center;
}
.copyright ul.social-icons {
	text-align: center;
	margin-top: 10px;
}

/* ---------------------------------------------------------------------------- MEDIA QURIES ENDS ------------------ */