@charset "utf-8";
/* CSS Document */

#navigation ul.nav a:hover {
	color: #F58C2B;
	border-top-color: #7000A0;
}
#navigation ul.nav .active a {
	color: #F58C2B;
	border-top-color: #7000A0;
}
#navigation ul.dropdown-menu li a:hover {
	color: #F58C2B!important;
}
ol.breadcrumb li.active {
	color: #F58C2B;
}
.engage h1 {
	color: #7000A0;
}
.index-blocks .box h1 i {
	color: #7000A0;
}
.index-pricing .block h1 .blue {
	color: #7000A0;
}
.about-us .intro h1 {
	color: #7000A0;
}
.team h1 {
	color: #7000A0;
}
.team .block .info .dept {
	color: #7000A0;
}
.team .block ul.social-icons li a:hover {
	color: #7000A0;
}
.blog .post:hover .date {
	background-color: #7000A0;
}
.blog .post-detail:hover .date {
	background-color: #7000A0;
}
.about-autor {
	background-color: #7000A0;
}
.blog .comments .media-body a.reply {
	background-color: #7000A0;
	border: 1px solid #7000A0;
}
.blog .comments .media-body a.reply:hover {
	border: 1px solid #7000A0;
}
.blog .leave-a-comment form .btn-default {
	background-color: #7000A0;
	border: 2px solid #7000A0;
}
.blog .leave-a-comment form .btn {
	border: 2px solid #7000A0;
}
.blog .leave-a-comment form .btn-default:hover {
	color: #7000A0;
	border: 2px solid #7000A0;
}
.sidebar .categories ul li a:hover {
	color: #7000A0;
}
.sidebar .latest-news ul li .info .comment i {
	color: #7000A0;
}
.schedule .intro h1 {
	color: #7000A0;
}
.schedule .schedule-table .table>thead>tr>th {
	background-color: #7000A0;
}
.schedule .schedule-table .table>tfoot>tr>th:first-child {
	background-color: #7000A0;
}
.events .intro h1 {
	color: #7000A0;
}
.events .events-table .table>thead>tr>th {
	background-color: #7000A0;
}
.events-details .intro h1 {
	color: #7000A0;
}
.events-details .events-carousel .picture .date {
	background-color: #7000A0;
}
.classes .intro h1 {
	color: #7000A0;
}
.classes .block .info .name {
	color: #7000A0;
}
.classes .block .info ul.social-icons li:hover {
	color: #7000A0;
	border: 2px solid #7000A0;
}
.classes .block .info ul.social-icons li:hover a {
	color: #7000A0;
}
.classes .block .more-info .complexity ul.stars li {
	color: #7000A0;
}
.classes .block .more-info .persons .number {
	background-color: #7000A0;
}
.classes-details .intro h1 {
	color: #7000A0;
}
.trainer .intro h1 {
	color: #7000A0;
}
.trainer .block .info .name {
	color: #7000A0;
}
.trainer .block .info ul.social-icons li:hover {
	color: #7000A0;
	border: 2px solid #7000A0;
}
.trainer .block .info ul.social-icons li:hover a {
	color: #7000A0;
}
.trainer-details .intro h1 {
	color: #7000A0;
}
.stories .intro h1 {
	color: #7000A0;
}
.testimonial .description .quote {
	background-color: #7000A0;
}
.prices .intro h1 {
	color: #7000A0;
}
.prices .packages .block .price {
	border: 6px solid #7000A0;
}
.prices .packages .block:hover {
	background-color: #7000A0;
}
.prices .packages .block:hover .price {	
	border: 6px solid #3eda80;
}
.prices .packages .block:hover .button a.fill {
	border: 1px solid #7000A0;
	color: #7000A0;
}
.prices .packages .block:hover .button a.fill {
	border: 1px solid #7000A0;
	color: #7000A0;
}
.contacts h1 {
	color: #7000A0;
}
.contacts form .btn-default {
	background-color: #7000A0;
	border: 2px solid #7000A0;
}
.contacts form .btn {
	border: 2px solid #7000A0;
}
.contacts form .btn-default:hover {
	color: #7000A0;
	border: 2px solid #7000A0;
}
.contacts .postal-address ul li:hover .icon {
	background-color: #7000A0;
}
.contacts .postal-address ul li a:hover {
	color: #7000A0;
}
footer .links ul li a:hover {
	color: #7000A0;
}
footer .links ul li a:hover:before {
	color: #7000A0;
}
footer .links .instagram {
	color: #7000A0;
}
.copyright a {
	color: #b55f13;
}
.copyright ul.social-icons li a:hover {
	color: #7000A0;
}
.button a.fill {
	border: 1px solid #7000A0;
	background-color: #7000A0;
}
.button a.fill:hover {
	border: 1px solid #7000A0;
	color: #7000A0;
}
.big-button a.blue-fill {
	border: 1px solid #7000A0;
	background-color: #7000A0;
}
.big-button a.blue-fill:hover {
	border: 1px solid #7000A0;
	color: #7000A0;
}
.blue-text {
	color: #F58C2B;
}
.blue-bg {
	background-color: #7000A0;
}
#navigation ul.nav a:hover {
	color: #F58C2B;
	border-top-color: #F58C2B;
}
#navigation ul.nav .active a {
	color: #F58C2B;
	border-top-color: #F58C2B;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #7000A0
}
.comodo{
	bottom:5px;
	right: 5px;
	position: fixed;
	z-index: 9999;
	width: 100px;
	opacity: 0.8;
}

.footer-line{
    color: #FFF;
    line-height: 40px;
    font-size: 16px;
}

.modal-frontend .modal-header{
	background-color: #7000A0;
	color: #FFF;
}

.modal-frontend {
	opacity: 0.95;
}